on:
  push:
    branches:
      - "*" # Run benchmarks on all branches.
  schedule:
    - cron: "0 0 1 * 0" # Run benchmarks the first day of every month at midnight.

name: Benchmark

jobs:
  benchmark:
    name: Continuous Benchmarking with Bencher
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - uses: bencherdev/bencher@main
      - name: Track base branch benchmarks with Bencher
        run: |
          bencher run \
          --project pest-typed \
          --token '${{ secrets.BENCHER_API_TOKEN }}' \
          --branch ${{ github.ref_name }} \
          --testbed ubuntu-latest \
          --threshold-measure latency \
          --threshold-test t_test \
          --threshold-upper-boundary 0.9 \
          --err \
          cargo bench --workspace
